@page "/planes"

<PageTitle>Planes</PageTitle>

@using Conference.Data
@inject PlanesService PlanesService

<h1>Planes</h1>

<table class="table">
    <thead>
    <tr>
        <th>PlaneId</th>
        <th>Company</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var plane in PlanesService.GetPlanes())
    {
        <tr>
        <td>@plane.Id</td>
        <td>@plane.Company</td>
        </tr>
    }
    </tbody>
</table>


