@inherits LayoutComponentBase
@using System.Data
@using Conference.Data
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<PageTitle>Airport</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (userInfo.userId == 0){
                <a href="login">Login</a>
                <a href="register">Register</a>
            }
            else
            {
                <td>Witaj @userInfo.Name @userInfo.Surname!</td>
                <td><a href="tickets">My tickets</a></td>
                <td><button @onclick="() => Remove()">logout</button></td>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code
{
    private UserInfo userInfo = new UserInfo();
    private UserInfo info = new UserInfo();
    private CityInfo c = new CityInfo();

       protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) {
            info = await SessionStorage.GetItemAsync<UserInfo>("userInfo");
            if (info is not null) userInfo = info;
            else await SessionStorage.SetItemAsync("userInfo", userInfo);
            c =  await SessionStorage.GetItemAsync<CityInfo>("cityInfo");
            if (c is null) await SessionStorage.SetItemAsync("cityInfo", new CityInfo());

        StateHasChanged();
        }
    }
 

    protected async Task Remove() => await SessionStorage.SetItemAsync("userInfo", new UserInfo());
}